<h5><%= link_to t(:questions), administrador_questions_url() %></h5>

<h5><%= link_to t(:surveys), administrador_surveys_url() %></h5>

<h5><%= link_to t(:sections), administrador_sections_url() %></h5>
